.div {
    background-color: #F0A8D0;
    height: 100vh;
    display: flex;
    align-items: center;
  justify-content: center;
}


.form {
    background-color: white;
    width: 30%;
    height: 500px;
    text-align: center;
    border-radius: 10px;
    
}
@media only screen and (max-width: 600px) {
    .form{
        width: 90%;
    }
}
.baslik {
    display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
    vertical-align: middle;
    height: 10vh;
    background-color: #FF4E88;
    border-top-left-radius:10px ;
    border-top-right-radius:10px;
    color: white;
}


.input {
    margin-top: 30px;
    width: 50%;
    height: 40px;
    background-color: #FFDFD6;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}
.btn {
    margin-top:40px;
    width: 50%;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    background-color: #FF4E88;
    color: white;
    margin-bottom: 20px;
    
}
.link{
    margin-left: 10px;
    color: #FFB0B0;
}